body{
    margin: 0px;
    font-family: inter, sans-serif;
    letter-spacing: -0.03em;
    font-style: normal;
}
.mainHeading {
    text-align: center;
    font-weight: bold;
    font-size: 31px;
    line-height: 34px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.header {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 1px;
    height: 500px;
    background: linear-gradient(90deg, #647CA6 0%, #7086B0 49.96%, #5F77A3 100%);
    z-index: 100;
    position: relative;
}

.imgheader {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.internship {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 40px;
    color: #00388B;  
}

.internblock {
    background-color: white;
    width: 80%;
    margin-top: 22px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px;
    box-shadow: 0px 8px 44px -10px rgba(0, 0, 0, 0.247);
    z-index: 100;
}

.coursesection {
    background-image: url(/image\ 45.png);
    padding: 1px;
    margin-top: 75px;
    background-size: cover;
}

.course {
    display: flex;
}

.CrsBg {
    margin-top: 60px;
    width: 100%;
    font-size: 30px;
}

.courses {
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #00388B;
}

.greenblock {
    width: 25%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 165px;
    padding-bottom: 85px;
    background-color:  #D3F5E0;
    box-shadow: 0px 22px 26px -16px rgba(0, 0, 0, 0.16);
    border-radius: 18px;
}

.webDev{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: -90px;
}

.Web{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #1E8758;
    font-size: 200%;
    margin-top: 150px;
}

.webhr{
    width:25%;
    height: 4px;
    border-radius: 30px;
    margin-top: 60px;
    margin-bottom: -20px;
    border: none;
    opacity: 0.5;
}

.blueblock {
    width: 25%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 165px;
    padding-bottom: 85px;
    background-color:  #D6ECF8;
    box-shadow: 0px 22px 26px -16px rgba(0, 0, 0, 0.16);
    border-radius: 18px;
}

.AI {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: -90px;
}

.Aitxt {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #0064AD;
    font-size: 200%;
    margin-top: 150px
}

.yellowblock {
    width: 25%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 165px;
    padding-bottom: 85px;
    background-color: #FBF5D1;
    box-shadow: 0px 22px 26px -16px rgba(0, 0, 0, 0.16);
    border-radius: 18px;
}

.Andr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: -90px; 
}

.AndDev {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #C28537;
    font-size: 200%;
    margin-top: 150px
}

